body{
	background-image: url("../images/JZImifq.jpg")
}

.jumbotron{
	background: orange;
	color: white;
	text-align: center;
}
.start{
	text-align: center;
}
span.question-button:hover{
	
	background: grey;
	color:white;

}